<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<div class="container">
    <nav class="navbar">
        <div class="navbar-left">
            <a class="logo-site-left" href="#">
                <span class="text-Next">Nex</span><span class="text-dev">Dev</span>
            </a>
        </div>
            <div class="navbar-center">
                <ul class="menu-main">
                    <!-- falta la ruta de vacantes-->
                    <a class="menu-link-1 btn" routerLink="admin/companies">
                        <li>Buscar ofertas</li>
                    </a>
                    <a class="menu-link-4 btn" routerLink="admin/users/developer"> 
                        <li>Desarrolladores</li>
                    </a>
                    <a class="menu-link-5 btn btn-of-sign " routerLink="login">
                        <li>Sign up</li>
                    </a>
                    <a class="menu-link-6 btn btn-of-register" routerLink="register">
                        <li>Register</li>
                    </a>
                </ul>
            <i class="fa-solid fa-bars icone-hamburguers"></i>
        </div>
    </nav>
</div>


