/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Formularios */
html{
    margin: 0;
    padding: auto;
    height: 100%;
}

body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
}
/* .form h1 {
    text-align: center;
}

.form-content {
    border: 1px dotted;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .field {
        display: flex;
        flex-direction: column;
        margin: .5rem 0;
        width: 100%;
    }

    .error {
        height: 1rem;
        color: red;
        font-style: italic;
    }
}You can add global styles to this file, and also import other style files */

.btn {
    border: 1px solid transparent;
    padding: .5rem;
    text-decoration: none;

    .btn-edit {
        background: green;
        color: black;
    }
    .btn-delete {
        background: red;
        color: indianred;
    }
}
    .btn-edit {
        background: lightgreen;
        color: green;
    }

    .btn-delete {
    background: indianred;
    color: darkred;
    }


